*{
    box-sizing:border-box ;

}
.hop_1{
    width: 300px;
    height: 300px;
    text-align: justify;
    position: relative;
    top: 50px;
    left: 50px;
    border: 1px solid red;
    float: left;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;

}
.gia_giam{
    width: 70px;
    height: 70px;
    
    position: absolute;
    top: 0px;
    right: 0px; 
}
.gia_giam>img{
    width: 70px;




}
.gia_san_pham{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-top: 10px ;
}
.gia_san_pham>del{
    font-weight: bold;
    color: gray;
}
.gia_san_pham>b{
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 5px red;


}
.bieu_tuong{
    width: 50px;
    height: 150px;
    position: absolute;
    right: 0px;
    bottom: 0px;    
}
.bieu_tuong>img{
    width: 50px;

   
}
.hop_1>img{
    width: 250px;
    


}

